
.bannerImage {
    background-image: url(https://www.inov-8.com/media/montBlanc/desktop/three-angles.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    margin-bottom: 110px;
}


@media only screen and (max-width:1800px) and (min-width:1600px) {
    .bannerImage {
        height: 700px;
    }
}
@media only screen and (max-width:1600px) and (min-width:1300px) {
    .bannerImage {
        height: 600px;
    }
}
@media only screen and (max-width:1300px) and (min-width:1200px) {
    .bannerImage {
        height: 500px;
    }
}
@media only screen and (max-width:1200px) and (min-width:701px) {
    .bannerImage {
        height: 400px;
    }
}

@media only screen and (max-width:700px) and (min-width:601px) {
  
    .bannerImage {
        height: 350px;
    }
}

@media only screen and (max-width:600px) and (min-width:401px) {
    .bannerImage {
        background-image: url(https://www.inov-8.com/media/montBlanc/mobile/three-angles.jpg);
    }
    .bannerImage {
        height: 1300px;
    }
}

@media only screen and (max-width:400px) and (min-width:0px) {
    .bannerImage {
        background-image: url(https://www.inov-8.com/media/montBlanc/mobile/three-angles.jpg);
    }
    .bannerImage {
        height: 1000px;
    }
}