* {
    margin: 0;
    padding: 0;
}
body{
    background-color:#F8F6F6;
}
.marginBottom70{
    margin-bottom: 70px;
}
.marginTop70{
    margin-bottom: 70px;
}
.marginTopMinus110{
    margin-top: -110px!important;
}
.marginRight{
    margin-right: 20px;
}

@media only screen and (max-width:800px) and (min-width:0px) {
    .marginBottom70Mob{
        margin-bottom: 70px;
    }
}

@media only screen and (max-width:600px) and (min-width:0px) {
    .marginTopMinus110{
        margin-top: 0px!important;
    }
}