.headerImage{
    background-image: url(https://www.inov-8.com/media/montBlanc/desktop/header.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    width: 100%;
} 

@media only screen and (max-width:1800px) and (min-width:1600px) {
    .headerImage{
        height: 900px;
    }
}
@media only screen and (max-width:1600px) and (min-width:1300px) {
    .headerImage{
        height: 800px;
    }
}
@media only screen and (max-width:1300px) and (min-width:1200px) {
    .headerImage{
        height: 700px;
    }
}
@media only screen and (max-width:1200px) and (min-width:901px) {
    .headerImage{
        height: 600px;
    }
}
@media only screen and (max-width:900px) and (min-width:600px) {
    .headerImage{
        height: 450px;
    }
}

@media only screen and (max-width:600px) and (min-width:0px) {
    .headerImage{
        background-image: url(https://www.inov-8.com/media/montBlanc/mobile/shoe_and_shadow.jpg);
        height: 635px;
    }
    .paragraph {
        width: 90%;
        margin: 0px auto;
        text-align: center;
    }
}



