.paragraph {
    width: 50%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 120px;
}
.paragraph h1{
    font-size: 50px;
    line-height: 65px;
    text-transform: uppercase;
    color: black;
    padding-bottom: 0px;
    margin-bottom: 50px;
}
.paragraph .logoP{
    margin-bottom: 110px;
    max-width: 322px;
}
.paragraph h2{
    font-size: 50px;
    line-height: 65px;
    text-transform: uppercase;
    color: black;
    padding-bottom: 0px;
    margin-bottom: 50px;
}

.paragraph p{
    font-size: 24px;
    line-height: 33px;
    text-transform: inherit;
    color: black;
    padding-bottom: 0px;
    margin-bottom: 40px;
}
.paragraph .action{
    display: flex;
    flex-direction: row;
    gap: 20px; 
    justify-content: center
}
.paragraph a{
    background-color: #00fe00;
    color: #000;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
    min-width: 196px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px 30px;
    text-decoration: none;
    display: block;
    max-width: 316px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.paragraph a:hover{
    background-color: #000;
    color: #fff;
}
.productImage img{
    width: 100%;
    max-width: 850px;
}
@media only screen and (max-width:801px) and (min-width:600px) {

    .paragraph {
        width: 70%;
        margin: 0px auto;
        text-align: center;
    }
    .paragraph p{
        font-size: 22px;
    }
    .paragraph h2{
        font-size: 40px;
    }
}

@media only screen and (max-width:600px) and (min-width:0px) {
    .paragraph {
        width: 90%;
        margin: 0px auto;
        text-align: center;

    }
    .paragraph .action{
        flex-direction: column;
        align-items: center;
    }
    .paragraph p{
        font-size: 22px;
    }
    .paragraph h2{
        font-size: 40px;
    }
    .paragraph .logoP {
        margin-bottom: 105px;
        max-width: 230px;
    }
}